.App {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px;
}

.addButton {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  background-color: rgb(201, 195, 195);
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: auto;
  background-color: rgb(201, 195, 195);
  gap: 5px;
}
